<% include layouts/header %>
<!-- end header -->
<!-- start page container -->
<div class="page-container">
    <!-- start sidebar menu -->
    <% include layouts/sidebar %>
    <!-- end sidebar menu -->
    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">
                            <%= page%>
                        </div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li><a class="parent-item" href="/admin/posts">Xem bài viết</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">
                            <%= page%>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="card-head">
                            <header>Sửa Bài Viết</header>
                        </div>
                        <form enctype="multipart/form-data" action="#" method="POST" id="form">
                            <div class="card-body row">
                                <div class="col-lg-8 p-t-20" id="thongbao">

                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-width">
                                        <input autocomplete='off' value="<%= data.tieude%>" class="mdl-textfield__input" type="text" id="text4"
                                            name="tieude">
                                        <label class="mdl-textfield__label" for="text4"><b>Nhập tiêu đề bài viết</b></label>

                                    </div>

                                </div>
                                <div class="col-lg-12 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield txt-full-width">
                                    <textarea autocomplete='off' class="mdl-textfield__input" rows="5" name="tomtat" id="tomtat"><%=data.tomtat%></textarea>
                                    <label class="mdl-textfield__label" for="text7"><b>Tóm Tát Bài Viết</b></label>
                                </div>

                            </div>
                                <div class="col-lg-12 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield txt-full-width">
                                        <textarea autocomplete='off' class="mdl-textfield__input" rows="5" name="noidung" id="noidung"><%= data.noidung%></textarea>
                                        <label class="mdl-textfield__label" for="text7"><b>Nội Dung bài viết</b></label>
                                    </div>

                                </div>

                                <div class="col-lg-6 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height select-width">
                                    <input autocomplete='off' class="mdl-textfield__input" type="text" id="sample2" name="loaitin"
                                        readonly tabIndex="-1" <% if(datafind){ %>value="<%=datafind.nameLoaiTin %>" data-val="<%=datafind._id %>" <%}%>>
                                    <label for="sample2" class="pull-right margin-0">
                                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                    </label>
                                    <label for="sample2" class="mdl-textfield__label"><b>Thuộc Loại Tin Nào ?</b></label>
                                    <ul data-mdl-for="sample2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                        <% if(dataLoaiTin) {
                                            dataLoaiTin.forEach(currentItem => { %>
                                        <li class="mdl-menu__item" data-val="<%=currentItem._id%>">
                                          
                                            <b><%=currentItem.nameLoaiTin %></b>
                                        </li>
                                        <% });
                                                            } %>

                                    </ul>
                                </div>
                            </div>

                              
                                <div class="col-lg-8 p-t-20">
                                    <input  type="hidden" value="<%=data.id%>" id="idpost">
                                    <img id="imgId" src="<%=data.thumb%>">
                                    <input autocomplete='off' type="file" id='inputId'  accept="image/gif, image/jpeg, image/png">

                                </div>
                                <script>
                                document.getElementById("inputId").onchange = function () {
                                    var reader = new FileReader();
                                
                                    reader.onload = function (e) {
                                        // get loaded data and render thumbnail.
                                        document.getElementById("imgId").src = e.target.result;
                                        cropper.replace(e.target.result);
                                    };
                                
                                    // read the image file as a data URL.
                                    reader.readAsDataURL(this.files[0]);
                                };
                                var MIN_WIDTH  = 1000,
                                    MIN_HEIGHT = 550;
                                
                                    const image = document.getElementById('imgId');
                                    const cropper = new Cropper(image, {
                                        aspectRatio: (MIN_WIDTH/MIN_HEIGHT),
       
        checkOrientation: true,
       
        viewMode: 0,
                                  
                                  zoomable: false,
                                    crop(event) {
                                      console.log(event.detail.x);
                                      console.log(event.detail.y);
                                      console.log(event.detail.width);
                                      console.log(event.detail.height);
                                      console.log(event.detail.rotate);
                                      console.log(event.detail.scaleX);
                                      console.log(event.detail.scaleY);
                                       
                                
                                    
                                        
                                   
                                    },
                                  });
                                
                                  
                                   
                                    
                                
                                                                                </script>

                                <div class="col-lg-12 p-t-20">

                                    <button type="submit" class="btn btn-info btn-lg m-b-10" id="suabaiviet">
                                        <i class="fa fa-pencil"></i> Sửa bài viết</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- add content here -->
        </div>
    </div>
    <!-- end page content -->
    <!-- start chat sidebar -->

    <!-- end chat sidebar -->
</div>
<!-- end page container -->
<!-- start footer -->
<% include layouts/footer %>
<script src="/assets/js/pageEdit.js"></script>